@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F9CB28;
  --secondary: #FF4D4D;
  --background: #000000;
  --foreground: #ffffff;
  --text: #666666;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

canvas {
  margin: auto;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
  margin-right: 1.2rem;
}

span {
  opacity: 50%;
  margin-right: 1rem;
}

a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  padding-bottom: 3.2rem;
  font-weight: 500;
}


#content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #F9CB28);
}


button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #666666;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #F9CB28;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}