:root {
  --primary: "#F9CB28";
  --secondary: "#FF4D4D";
  --background: #000000;
  --foreground: #ffffff;
  --text: '#666666';

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 4em #F9CB28);
}

select {
  text-align: center;
  text-align-last: center;
}

select::selection {
  background-color: blue;
  color: rgb(228, 0, 0);
}

option {
  text-align: left;
}



#challenges {
  width: 200px;
  height: 40px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #F9CB28;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #666666;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #F9CB28;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}